main {
    width: calc(100vw - 300px);
    overflow: hidden;
}

section .heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-overflow: ellipsis;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    height: fit-content;
}

section {
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll;
}

section .output * {
    margin-top: 10px;
}

section,
.NewTaskContainer {
    width: 90%;
    margin: auto;
}

::selection {
    user-select: none;
}

@media (max-width: 680px) {
    main {
        width: calc(100vw);
        overflow: hidden;
    }

    .editor {
        bottom: 60px !important;
    }
}